doctype html
html
  head
    title Reddit Clone
    link(rel='stylesheet', href='https://bootswatch.com/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Stoke', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-animate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js')

  body
    block content
    script(src='/javascripts/scripts.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
